body{
    background-color:/*#BCC6CC*/blue;
}
.lielakaste{
    padding:5%;
    background-color:brown;
}
.kaste1 {
    margin-left:10%;
    margin-right:10%;
    margin-bottom:10%;
    margin-top:10%;
    background-color:#49413F;
    font-size:60%;
    color:/*#E5E4E2*/red;
    padding:10%;
    /*display: flex;*/
}
/*.kolonnas{
    
}*/
.kaste2 {
    /*margin-left:5%;
    margin-right:40%;*/
    background-color:#797979;
    float:left;
    width:40%;
    margin-left:5%;
    margin-bottom:10%;
}
.kaste3 {
    background-color:#797979;
    float:right;
    width:40%;
    margin-right:5%;
    margin-bottom:10%;
}
img{
    padding:5%;
}
/*.k{
    display: flex;
}*/

