body{
    background-color:#49413F;
}
/*.kastite{
    background-color:#C9C0BB;
    padding:10%;
}*/
.kaste1 {
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5%;
    margin-top:5%;
    background-color:#C9C0BB;
    padding:10%;
    border-style:solid;
    border-color:black;
    /*display: flex;*/
}
.kaste2 {
    /*margin-left:5%;
    margin-right:40%;*/
    background-color:#78866B;
    float:left;
    width:43%;
    border-style:solid;
    border-color:black;
    padding:5%;
    /*margin-left:5%;
    margin-bottom:10%;*/
}
.kaste3 {
    background-color:#78866B;
    float:right;
    width:43%;
    border-style:solid;
    border-color:black;
    padding:5%;
    /*margin-right:5%;
    margin-bottom:10%;*/
}
img{
    padding:3%;
    border-style:solid;
    border-color:black;
}
/*h1{
    font-size:35%;
    
}
*/
