body{
    background-color:#BCC6CC;
}
.kastite{
    background-color:blue;
}
.kaste1 {
    margin-left:7%;
    margin-right:7%;
    margin-bottom:7%;
    margin-top:7%;
    background-color:#49413F;
   /* padding:10%;*/
    /*display: flex;*/
}
.kaste2 {
    /*margin-left:5%;
    margin-right:40%;*/
    background-color:#797979;
    float:left;
    width:43%;
    /*margin-left:5%;
    margin-bottom:10%;*/
}
.kaste3 {
    background-color:#797979;
    float:right;
    width:43%;
    /*margin-right:5%;
    margin-bottom:10%;*/
}
img{
    padding:3%;
}
h1{
    font-size:10%;
    
}
